@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Headland+One&family=Newsreader:opsz,wght@6..72,600&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@600&display=swap');

.formDesign {
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.formDesignLeft {
  width: 50%;
  padding: 20px;
  color: white;
}

.form {
  margin: 20px auto;
  width: 600px;
  border: 1px solid #f2b022;
  padding: 20px;
}

.formDesignHeading {
  text-align: center;
  margin-top: 20px;
  color: #f2b022;
  text-transform: uppercase;
  font-family: 'Headland One', serif;
}

.formDesignButton,
.socialButton {
  color: #0b301a;
  background-color: #f2b022;
  width: 100%;
  border: none;
}

.formDesignButton {
  padding: 10px 15px;
  margin: 10px 0;
}

.socialButton {
  padding: 10px;
  margin: 5px;
}

.toggleSection {
  margin-top: 10px;
}

.toggleSection > span {
  cursor: pointer;
  color: #f2b022;
  font-weight: 700;
}

.lineDraw {
  background-color: white;
  height: 2px;
  width: 50%;
}

.formDesignButton:hover,
.socialButton:hover {
  background-color: #0b301a;
  color: #f2b022;
  transition: 0.3s;
}

.formDesignRight {
  width: 50%;
  padding: 20px;
  backdrop-filter: blur(8px);
  height: 105vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../../Images/loginBg.jpg');
}

.formDesignRightBox {
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #f2b022;
  font-family: 'Headland One', serif;
}

.requiredAuth {
  height: 100vh;
  padding: 20px;
}

.requiredAuth > div {
  text-align: center;
  font-family: 'Headland One', serif;
  position: relative;
  top: 40%;
}

.requiredAuth h1 {
  font-size: 48px;
  color: #f2b022;
}

.requiredAuth h2 {
  font-size: 36px;
}

.requiredAuth button {
  background-color: #f2b022;
  color: #0b301a;
  border: none;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 15px;
  font-family: 'Poppins', sans-serif;
}

.requiredAuth button:hover {
  background-color: #0b301a;
  color: #f2b022;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .formDesign {
    flex-direction: column-reverse;
  }

  .form {
    width: 100%;
  }

  .formDesignLeft,
  .formDesignRight {
    width: 100%;
  }

  .formDesignRight {
    height: 80vh;
  }
}

@media only screen and (max-width: 600px) {
  .formDesignRight {
    height: 50vh;
  }
}
