
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Headland+One&family=Newsreader:opsz,wght@6..72,600&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@600&display=swap');


.inventoryDetails{
    padding: 20px;
    font-family: 'Headland One', serif; 
}

.customDetails{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #15191F;
}

.customDetailsImage{
    padding: 20px;
    width: 40%;
}

.customDetailsInfo{
    padding: 20px;
    width: 60%;
}

.customDetailsInfo > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.detailsSpan{
    color: #F2B022;
    font-style: italic;
}


.customDetailsInfoButton{
    font-family: 'Poppins', sans-serif;
    color: #F2B022;
    background-color: #0B301A;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.customDetailsInfoButton:hover{
    color: #0B301A;
    background-color: #F2B022;
    transition: 0.3s;
}


.customDetailsInfoInput{
    border: none;
    padding: 10px;
    background-color: transparent;
    outline: none;
    margin-right: 10px;
    border-bottom: 1px solid #0B301A;
    width: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 768px) {
    .customDetails{
        flex-direction: column;
    }

    .customDetailsImage, .customDetailsInfo{
        width: 100%;
    }
   
    .customDetailsInfoInput{
        font-size: 14px;
    }
}