/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.navBarDesign{
    background-color: rgb(15, 14, 14);
}

.navBarDesignLogo{
    cursor: pointer;
}

.navBarDesignLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarDesignLink > a{
    color: #F2B022;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
}

.navBarDesignLink > a:hover, a:focus{
    color: #F2B022;
    text-decoration: underline;
}

.navBarDesignLink > button{
    background-color: #F2B022;
    color: #0B301A;
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
}

.navBarDesignLink > button:hover{
    background-color: #0B301A;
    color: #F2B022;
    transition: 0.3s;
}


@media only screen and (max-width: 768px) {

    .navBarDesignLink{
        align-items: flex-start;
    }

    .navBarDesignLink > button{
        margin: 10px 0;
        width: 100%;
    }
}