


/* add inventory section starts */


/* add inventory section ends */

/* displaying inventories section starts */

/* bikeinventories */
.allInventories{
    background-color: black;
    color: white;
    padding: 20px;
}

.emptyinventories{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventoriesIntro{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goToInventoryFormButton{
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    background-color: transparent;
    font-size: 22px;
}

/* displaying inventories section ends */


/* inventory details section */



@media only screen and (max-width: 768px) {

    .addInventoryDesign{
        width: 100%;
    }

    .addInventoryForm{
        width: 100%;
    }

    .customDetails{
        flex-direction: column;
    }

    .goToInventoryFormButton{
        font-size: 16px;
    }

    .customDetailsInfoButtons{
        align-items: flex-start;
        flex-direction: column;
    }

    .customDetailsInfoInput{
        margin-top: 10px;
        margin-left: 0;
    }

    .emptyinventories{
        flex-direction: column;
    }
}