@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Headland+One&family=Newsreader:opsz,wght@6..72,600&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@600&display=swap');


.testimonial{
    padding: 20px;
}

.testimonial > h3{
    text-align: center;
    font-family: 'Newsreader', serif;
    color: #F3A320;
}

.testimonialCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #485362;
}

.testimonialCard p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.testimonialCard h3{
    font-family: 'Pacifico', cursive;
    color: #F3A320;
}

.testimonialCard img{
    border-radius: 50%;
}

.testimonialIcon{
    color: #F39E20;
    font-size: 48px;
}