@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Headland+One&family=Newsreader:opsz,wght@6..72,600&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@600&display=swap');


.footerSection{
    margin-top: auto;
    padding: 20px;
    background-color: #0F0E0E;
    font-family: 'Poppins', sans-serif;
}

.footersectionDetails{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding:  20px;
}

.footersectionDetailsBox{
    padding: 10px 0;
}

.authorName{
    color: #F2B022;
    text-transform: uppercase;
}

.authorName > a{
    color: #F2B022;
    text-decoration: none;
}

.authorName > a:hover{
    color: #F2B022;
    text-decoration: underline;
}

.footerStyleLogo{
    height: 55px;
    cursor: pointer;
} 

.footersectionDetailsBox h3{
    font-family: 'Headland One', serif;
}

.footerSectionCopyright{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

ul > li {
    list-style-type: none;
}

ul > li > a{
    text-decoration: none;
    color: white;
}

ul > li > a:hover{
    color: white;
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {
    .footersectionDetails{
        grid-template-columns: repeat(1,1fr);
    }
}