@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Headland+One&family=Newsreader:opsz,wght@6..72,600&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@600&display=swap');


.aboutUsDiv{
    filter: blur(2px); 
    height: 70vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        background-image: 
        url('../../../Images/aboutUs.jpg');
}


.aboutUsDetails{
    padding: 20px;
}

.aboutUsDetails > h1{
    text-align: center;
    font-family: 'Newsreader', serif;
}

.aboutUsSpan{
    color: #F2B022;
}

.aboutUsDetails > p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 600px) {
    .aboutUsDiv{
        height: 40vh;
    }
}

