@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Newsreader:opsz,wght@6..72,600&family=Permanent+Marker&family=Poppins:wght@600&display=swap');

.services{
    /* padding: 20px; */
    margin: 20px 0;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.serviceIcon{
    color: #F39E20;
    font-size: 48px;
}

.service > h5{
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.service > p{
    text-align: justify;
    font-family: 'Comfortaa', cursive;
}

.brandSection{
    margin: 20px 0;
}

.brandSection > h4{
    text-align: center;
    font-family: 'Newsreader', serif;
    font-size: 30px;
}

.brand{
    margin: 10px auto;
    padding: 20px 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .brandSection > h4{
        font-size: 24px;
    }
}