@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Headland+One&family=Newsreader:opsz,wght@6..72,600&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@600&display=swap');


.aboutSection{
    display: flex;
    align-items: center;
    padding: 20px;
}

.aboutSectionLeft > img{
    border-radius: 50%;
    height: 300px;
}

.aboutSectionRight{
    padding: 20px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.aboutSectionRightName{
    color: #FC4412;
}

.readMoreButton{
    background-color: #F2B022  ;
    color: #0B301A  ;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.readMoreButton:hover{
    background-color:#0B301A  ;
    color: #F2B022  ;
    transition: 0.3s;
}

.projectsSection{
    padding: 20px;
}

.projectsSectionHeader{
    color: #F2B022;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Newsreader', serif;
}

.projectsCard{
    border: 1px solid white;
}

.projectsCard > a {
    text-decoration: none;
}

.projectsCard > a:hover {
    color: white;
    text-decoration: underline;
}

.projectsCardHeader{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 768px) {
  .aboutSection{
      flex-direction: column;
  }
}