
.inventoryCard{
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.28);
    color: rgb(0, 0, 0);
}

.inventoryCardImage{
  height: 250px;
}

.inventoryCardImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.inventoryCardInfo{
  padding: 20px;
  text-align: center;
}

.inventoryCardButton{
  width: 100%;
  border: none;
  color: white;
  padding: 20px;
  /* background-color: brown; */
  background-color: #F3A020;
}

.seeAllInventoriesButton{
  position: relative;
  padding: 20px;
}

.seeAllInventoriesButton > button{
  border: none;
  color: white;
  /* background-color: brown; */
  background-color: #F3A020;
  padding: 10px 12px;
  position: absolute;
  top: 20px;
  right: 0;
}
