@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,600&family=Permanent+Marker&family=Poppins:wght@600&display=swap');

.location{
    padding: 10px;
    margin: 20px 0;
}

.location > h4{
    text-align: center;
    font-family: 'Newsreader', serif;
    font-size: 30px;
}

.locationSpan{
    color: #E3B022;
}

@media only screen and (max-width: 600px) {
    .location > h4{
        font-size: 24px;
    }
}