@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Poppins:wght@600&display=swap');

.carouselCaption{
    margin-bottom: 225px;
    background-color: #1f1c2e59;
}

.carouselCaption h1{
    color: #e9a410;
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Josefin Sans', sans-serif;
}

.spanText{
    color: rgb(232, 235, 69);
}

.carouselCaption h3{
    margin: auto;
    font-size: 36px;
    line-height: 80%;
    font-family: 'Poppins', sans-serif;
    color: rgb(231, 229, 229);
}

@media only screen and (max-width: 768px) {

    .carouselCaption{
        margin: 20px 0;
    }

    .carouselCaption h1{
        font-size: 26px;
    }

    .carouselCaption h3{
        font-size: 20px;
    }
}