@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Headland+One&family=Newsreader:opsz,wght@6..72,600&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@600&display=swap');


.descriptionBox{
    margin: 20px 0;
}

.descriptionBox h3, .descriptionBox h4{
    text-align: center;
    font-family: 'Newsreader', serif;
}

.descriptionBox h3{
    margin: 20px 0;
    font-size: 36px;
}

.descriptionBox h4{
    margin: 20px 0;
    font-size: 30px;
}


.descriptionBox p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.descriptionBoxSpan{
    color: #E3B022;
}

.brands{
    margin: 0 auto;
    padding: 20px 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .descriptionBox h4{
        font-size: 24px;
    }
}

