.blogs{
    background-color: black;
    color: white;
}

.blogsImage{
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        background-image: 
        url('../../Images/blog.jpg');
}

.blogsHeading {
    padding: 20px;
    text-align: center;
    color: brown;
}

.blogsQuestion{
    padding: 20px;
}

.blogsQuestion > h4 {
    color: brown;

}

@media only screen and (max-width: 600px) {
   .blogsImage{
       height: 30vh; 
       /* background-size: contain; */
   } 
}