@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Headland+One&family=Newsreader:opsz,wght@6..72,600&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@600&display=swap');


.blogsImage{
    height: 70vh; 
    filter: blur(2px); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        background-image: 
        url('../../Images/blog.jpg');
}

.blogsHeading {
    padding: 20px;
    text-align: center;
    font-family: 'Newsreader', serif;
    text-transform: uppercase;
}

.blogsSpan{
    color: #F2B022;
}

.blogsQuestion{
    padding: 20px;
}

.blogsQuestion > h4 {
    color: #F2B022;
    font-family: 'Headland One', serif;
}

.blogsQuestion > p {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 600px) {
   .blogsImage{
       height: 30vh; 
   } 
}